<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card" style="width: 30rem;">
                <span style="font-size:36px;" class="badge badge-success"><%=_dosya.uzanti%></span>
                <div class="card-body">
                    <h5 class="card-title"><%=_dosya.filename%></h5>
                    <p class="card-text">Silmek İçin bu bağlantıyı kullanın
                        <a href=<%=_dosya._id%><%=_dosya.filedelete%>><%=_dosya._id%><%=_dosya.filedelete%></a>
                    </p>
                    <a href="/" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>